.faqs{
    padding: 1.6rem;
    background-color: $color_lead;
    color: white;
    text-align: center;
    h3{
        font-size: 3.4rem;
    }
    &__section{
        width: 100%;
        max-width: 72rem;
        padding: 4rem 0;
        margin: 0 auto;
    }
}
.faq{
    width: 100%;
    height: auto;
    padding:1rem 0;
    cursor: pointer;
    text-align: left;
    &__heading{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.6rem;
        .sign{
            width: 1.8rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                display: block;
                width: 1.8rem;
                height: 1.5px;
                background-color: white ;
                &:nth-child(2){
                    transform: rotate(90deg);
                    position: absolute;
                }
            }
            &.plus{
                span{
                    &:nth-child(2){
                        opacity: 0;
                        transition: opacity .3s ease;
                    }
                }
            }
            &.minus{
                span{
                    &:nth-child(2){
                        opacity: 1;
                        transition: opacity .3s ease;
                    }
                }
            }
        }

    }
    &__body{
        overflow: hidden;
        max-height: 0;
        transition: max-height .35s ease;
        text-align: left;
        p{
            color:#BCC1C1 ;
        }
        &.showfaq{
        max-height: 20rem;
        }
    }
}

@media screen and (max-width:800px) {
    .faqs{
    padding: 4rem 2rem;
    h3{
        font-size: 2.4rem;
    }
    &__section{
        width: 100%;
        max-width: 100%;
        padding: 4rem 0;
        margin: 0 auto;
    }
}
    .faq{
        &__heading{
            h4{
                font-size: 1.6rem;
                letter-spacing: -.1px;
            }
        }
    }
}